<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- "Location" can be any valid ZIP code or city name that WeatherAPI recognizes -->
		<add key="Location" value="London" />
		<!-- How many days of system logs do you want to keep before they are deleted? -->
		<add key="DaysToLog" value="5" />
	</appSettings>
</configuration>
